<p id="notice"><%= notice %></p>
<h1>Comprobantes</h1>

<table class="table table-striped table-bordered" id="datatable"">
  <thead>
    <tr>
      <th>FECHA</th>
      <th>TIPO</th>
      <th>FOLIO</th>
      <th>CORRELATIVO</th>
      <th>RUC/DNI</th>
      <th>RAZON SOCIAL</th>
      <th>VENTA NETA</th>
      <th>IMPUESTOS</th>
      <th>VENTA BRUTA</th>
      <th>ANULADO</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.date %></td>
        <td><%= case invoice.typedoc
                when 1 then "BOLETA"
                  when 2 then "FACTURA"
                    when 3 then "NOTA DE CREDITO"
                else "ERROR"
                  end %></td>
        <td><%= invoice.folio %></td>
        <td><%= invoice.correlative %></td>
        <td><%= invoice.uid %></td>
        <td><%= invoice.name %></td>
        <td><%= number_to_currency(invoice.netsales, unit: "S/ ", separator: ",", delimiter: "") %></td>
        <td><%= number_to_currency(invoice.taxes, unit: "S/ ", separator: ",", delimiter: "") %></td>
        <td><%= number_to_currency(invoice.grosssales, unit: "S/ ", separator: ",", delimiter: "") %></td>
        <td><%= if invoice.void == false then "NO" else "SI" end %></td>
        <td><%= link_to 'Show', invoice, :class => 'fa fa-eye'  %></td>
        <!--<td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  